<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="header">
            <div class="close-btn">
                <span class="close" (click)="closePopup()">&times;</span>
            </div>
            <div class="container" style="margin-top: 40px;">
                <form #onsumit="ngForm">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>{{headName}} City
                                <hr>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>CityName
                                <span>*</span>
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <input  class="cityWrap" type="text" #city="ngModel" [(ngModel)]="cityData.cityName" name="city" required id="cityname" 
                            >
                            <div class="alert alert-danger" *ngIf="city.dirty && city.invalid">
                                <span style="font-size: 12px;">
                                    <strong>Cityname is Required </strong>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label>Pin Code
                                <span>*</span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input  class="cityWrap" type="number" #pincode="ngModel" [(ngModel)]="cityData.pincode" name="pincode" required id="pin">
                            <div class="alert alert-danger" *ngIf="pincode.dirty && pincode.invalid">
                                <span style="font-size: 12px;">
                                    <strong>Cityname is Required </strong>
                                </span>
                            </div>
                            
                            <div class="row">
                                
                                <div class="col-md-12" style="float: right;" >
                                    <button class="btn btn-primary btnWrap" [disabled]="!onsumit.form.valid" (click)="onSaveClick()">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    
                   
                </form>
            </div>
        </div>
    </div>
</div>