<div class="container forgetWrap">
  <div class="row">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">
      <form #resetForm="ngForm">

        <div class="row">
          <div class="col-sm-12">
            <b>RESET PASSWORD</b>

            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <input class="form-control" type="text" ngModel #reset="ngModel" name="reset" [(ngModel)]="resetPass.newPassword" pattern=".{6,10}" maxlength="10"
                placeholder="enter your mobile number" required>
              <div *ngIf="reset.invalid && (reset.dirty || reset.touched)" class="error">
                <div *ngIf="reset.errors.required">
                   passwored is required!
                </div>
                <div *ngIf="reset.errors.pattern">
                  password must be 6 to 10 digit !
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">

            <button class="btn btn-primary btn-sm" [disabled]="!resetForm.form.valid" (click)="resetPassword()">Submit</button>
          </div>

        </div>
      </form>
    </div>
    <div class="col-sm-4">

    </div>
  </div>

</div>