.button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }



.comment-img{
width: 50%;
margin: 0px;
padding: 0px;
}
.stats-boxes{
    width: 100%;
    float: left;
    margin-bottom: 10px;
    margin-left: 1%;
}
.stats-box1{
    width: 24%;
    float: left;
    border: 1px solid black;
    // height: 174px;
    border: none;
    margin-right: -10px;
    color: white;
    border-radius: 5px;
    background-color: #0077f7;
    // margin-right: 4px;
}
.table-size{      width: 98%;
    margin-left: 8px;
} 
.stats-box2{
    border-radius: 5px;
    width: 24%;
    float: left;
    margin-left: 15px;
    border: 1px solid black;
    // height: 174px;
    margin-right: 5px;
    border: none;
    color: white;
    background-color: #f7bb07;

}
.stats-box3{
    width: 24%;
    border-radius: 5px;
    float: left;
    // margin-left: 19px;
    border: 1px solid black;
    // height: 174px;
    margin-right: 5px;
    border: none;
    color: white;
    background-color: #27a243;

}
.stats-box4{
    width: 24%;
    float: left;
    border-radius: 5px;
    // margin-left: 14px;

    border: 1px solid black;
    // height: 174px;
    border: none;
    color: white;
    background-color: #d53343;
}
.folder-box{
    margin-bottom: 5%;
}
.hele-size{
    width: 98%;
    margin-left: 1%;
    margin-top: 4%;
    float: left;
    border-radius: 13px;
}
.card-body {
    // flex: 1 1 auto;
    // padding: 1.25rem;
    margin-bottom: -32px;
}
.stats-boxbtn1{
    // width: 100%;
    // float: left;
    // border-top: 2px solid #ffffffa6;
    // margin-top: 47%;
}
.view-img{
    // margin-left: 19px;
    width: 100%;
    margin-top: 21px;
    float: left;
    height: 71px;
    padding: 8px;
}
.view-img img{
    width: auto;
    height: 67px;
    margin-left:12px;
    margin-top:-15px;
}

.tagText{
    width: auto;
    height: auto;
    float: right;
    margin-right: 13px;
    margin-top: 23px;
}
.textwrap{
    margin-top: 5px;
width: 100%;
height: 48px;
float: left;
border-top: white;
border-top: 2px solid #ffffffad;

}
.textwrap p{
    font-size: 17px;
    float: left;
    padding: 10px;
}
.img-wrap{
        width: 10%;
        float: right;
        margin-top: 13px;
        background-image: url(../../../assets/images/righta.svg);
        height: 20px;
        background-repeat: no-repeat;
        background-position: right;
        background-size: 22px 54px;
        margin-right: 13px;
}
.img-wrap:hover{
    cursor: pointer;
}
    .view{
        float: right;
        width: auto;
        // background-image: url(../../../assets/images/eye.svg);
        height: 21px;
        background-repeat: no-repeat;
        background-position: right;
        background-size: 21px 54px;
        margin-top: 4px;
        margin-right: 11px;
        
    }
    .hele thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
        font-size: 14px;
    }
    .view p{
        font-size:25px;
    }


     

    ///resphosive design css
    @media only screen and (max-width: 600px){
        
        .textwrap {
            margin-top: -26px;
        }
        .stats-box1{
            width: 47%;
            margin-left: 4px;
            height: 117px;
            margin-bottom: 0px;
        }
        .stats-box2{
            width: 47%;
            margin-left: 20px;
            height: 117px;
            margin-bottom: 7px;
        }
        .stats-box3{
            width: 47%;
            margin-left: 2px;
            height: 117px;
            margin-bottom: 16px;
        }
        .stats-box4{
            width:47%;
            margin-left: 8px;
            height: 117px;
        }
        .hele-size{
            width: 98%;
        }
        .view-img img{
            height: 41px;
        }
        .view-img{
            margin-top:10px;
        }
        .tagText p{
            font-size: 14px;
        }
        .tagText{
            margin-top: 10px;
            margin-left: -36px;
            margin-right: 0px;
        }
        .view p{
            font-size: 24px;
        }
        // .textwrap{
        //     margin-top: 2px;
        // }
        .textwrap p{
              font-size: 13px;
        }
        .img-wrap{
            width: 13%;
            background-size: 19px 54px;
        }
        
    }

    @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
   {
    .stats-box1{
        width: 46%;
        // margin-left: 4px;
        // height: 117px;
        // margin-bottom: 0px;
    }
    .tagText p{
        font-size: 11px;
    }
    .stats-box4{
        margin-left: 5px;
    }
    .img-wrap{
        background-size: 18px 27px;
    }
    .view-img img{
        height: 37px;
    }
}
    /*ipad */
//     @media only screen
// and (min-device-width: 768px)
// and (max-device-width: 1024px)
// and (orientation: portrait)
// and (-webkit-min-device-pixel-ratio: 2)
// { 
//     .stats-box1{
//         width: 21%;
//         margin-left: 23px;
//         height: 152px;
//     }
//     .stats-box2{
//         width: 21%;
//         margin-left: 18px;
//         height: 152px;

//     }
//     .stats-box3{
//         width: 21%;
//         height: 154px;
//         margin-left:24px;
//     }
//     .stats-box4{
//         width: 21%;
//         margin-left: 40px;
//         height: 153px;
//     }
//     .tagText p{
//         font-size: 13px;
//     }
//     .textwrap {
//      margin-top:0px;
//     }
    
// .img-wrap {
//     background-size: 16px 54px;
    
// }
// }

//     /*pixel 2xl*/
//     @media only screen and (min-device-width: 411px)
// and (max-device-width: 823px)
// and (orientation: landscape)
// and (-webkit-min-device-pixel-ratio: 2)
// {
//     .stats-box1{
//         width: 41%;
//         margin-left: 21px;
//     }
//     .stats-box2{
//         width: 41%;
//         margin-left: 50px;

//     }
//     .stats-box3{
//         width: 41%;
//         margin-left: 23px;
//         margin-top: 15px;
//     }
//     .stats-box4{
//         width: 41%;
//         margin-left: 49px;
//         margin-top: 15px;
        
//     }
    


// }

// @media only screen and (min-device-width: 320px)
// and (max-device-width: 568px) {
//     .stats-box1{
//         width: 46%;
//     }
//     .stats-box2{
//         width: 47%;
//         margin-left: 7%;
//     }
//     .stats-box3{
//         width: 47%;  
//     }
//     .stats-box4{
//         width: 47%;
//         margin-left: 5px;
//     }
//     .tagText {
//         margin-left: -1px;
//         margin-right: 3%;
//     }
//     .img-wrap{
//         background-size: 13px 54px;
//         margin-top: 10px;
//     }
//     .tagText p{
//         font-size: 11px!important;
//     }
//     .view-img mg{
        
// height: 35px;        
//     }
// }

//     /* iPhone 6 landscape */
// @media only screen and (min-device-width: 375px)
// and (max-device-width: 667px)
// and (orientation: landscape)
// and (-webkit-min-device-pixel-ratio: 2)
// { 
//     .stats-box1{
//         width: 41%;
//         margin-left: 21px;
//     }
//     .stats-box2{
//         width: 41%;
//         margin-left: 50px;

//     }
//     .stats-box3{
//         width: 41%;
//         margin-left: 23px;
//         margin-top: 15px;
//     }
//     .stats-box4{
//         width: 41%;
//         margin-left: 49px;
//         margin-top: 15px;
        
//     }
// }

// /* iPhone 6 portrait */
// @media only screen
// and (min-device-width: 375px)
// and (max-device-width: 667px)
// and (orientation: portrait)
// and (-webkit-min-device-pixel-ratio: 2)
// { 
//     .stats-box1{
//         width: 46%;
//         margin-left: 2px;
//     }
//     .stats-box2{
//         width: 46%;
//         margin-left: 22px;
//         height: 117px;
//         margin-bottom: 7px;

//     }
//     .stats-box3{
//         width: 46%;
//         margin-left: 2px;
//         height: 117px;
//         margin-bottom: 16px;
//     }
//     .stats-box4{
//         width: 46%;
//         margin-left: 7px;
//         height: 117px;
//         margin-bottom: 16px;
        
//     }
// }

// /* iPhone 6 Plus landscape */
// @media only screen
// and (min-device-width: 414px)
// and (max-device-width: 736px)
// and (orientation: landscape)
// and (-webkit-min-device-pixel-ratio: 3)
// { }

// /* iPhone 6 Plus portrait */
// @media only screen 
// and (min-device-width: 414px) 
// and (max-device-width: 736px) 
// and (orientation: portrait) 
// and (-webkit-min-device-pixel-ratio: 3)
// { }
