//     .buttonwrap button:hover {
// background-color: blue;
// }
.containerIst{
        width: 100%;
        float: left;
        background-image: url(../../assets/images/loginback.png);
        background-position: 100% 100%;
        // height: 100%;
        min-height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .middlewrap{
        // border: 1px solid black;
        margin-left: 29%;
        margin-top: 10%;
        float: left;
        width: 37%;
    }
    
    .img{
        width: 202px;
        float: left;
        background-image : url(../../assets/images/logo.png);
        background-position: 100% 100%;
        background-repeat: no-repeat;
        background-size: 100% 208.9px;
        height: 199px;
        margin-top: -46px;
        margin-bottom: 10px;
        margin-left: 41%;
        
    }
    .msgerror{
        margin-left: 84px;
        color: red;
        font-size: 11px;
    }
    .email{
        width: 71%;
        margin-top: 135px;
        margin-left: 50px;
        padding: 13px;
        margin-bottom: 30px;
    }
    input{
        border: none;
        border-radius: 2px;
        // opacity: 0.8;
        // height: 30px;
        // color: white;
        border: none;
        border-radius: 2px;
        opacity: 0.8;
        padding: 6%;
        font-size: 13px;
        margin-top: 29px;
        width: 90%; 
        margin-left: 25%;
        height: 37px;

        // color: white;
    }
    .inputwrap{
        width: 100%;
        float: left;
    }

    



    .buttonwrap button{
        background-color: #0000ffb3;
    background-color: #0000ffb3;
    color: white;
    width: 148px;
    font-size: 14px;
    height: 40px;
    border: 0px;
    cursor: pointer;
    margin-left: 47%;
    margin-top: 8%;
    border-radius: 7px;
    border: none;
    margin-bottom: 2px;
    }
    .nextpage{
        margin-left: 42%; 
         margin-top: 25px;
        font-size: 14px;
    }


    @media only screen and (max-width: 600px)  {
        .img{
            background-position: 100% 100%;
            background-repeat: no-repeat;
            background-size: 155px 137.9px;
            height: 168px;
            width: 147px;
            margin-top: 27px;
            margin-bottom: 10px;
            margin-left: 21px;
            float: left;
        }
        .email input{
            width: 238px;
            margin-left: -99px;
        
        }
        .msgerror{
            margin-left: -99px;
            font-size: 12px;
            color: orangered; 
        }
        .buttonwrap button{
            margin-left: -56px;
            margin-top: 19px;
            border-radius: 3px;

        }
        .nextpage{
            margin-left: 27px;
            font-size: 13px;
            margin-top: -15px;
            width: 128px;
        }
    .middlewrap {
        margin-top: 20%;    
    }
    }
   
      @media only screen and (max-width:320px){
          .middlewrap{
            margin-left: 25%;
            margin-top: 10%;
          }
      }
   