<div class="containerIst">
    <div class="middlewrap">
        <div class="img jugo-logo">

        </div>

    <div class="email">
            <form (ngSubmit)="onLogin()" #loginForm="ngForm">
                <div class="inputwrap input_left">
                    <input type=text name="userName" [(ngModel)]="login.username" #userName="ngModel" placeholder="Username" autocomplete="off" id="userName" required>
                    <div class="msgerror valid_text" *ngIf="userName.touched && userName.invalid">
                       Username is required
                    </div>
                </div>
                <div class="inputwrap input_left">
                    <input type=password name="password" [(ngModel)]="login.password" #password="ngModel" placeholder="Password"  autocomplete="off"    id="password" required>
                    <div class="msgerror valid_text" *ngIf="password.touched && password.invalid">
                        Password is required
                    </div>
                </div>
                <div class="buttonwrap input_left">
                    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Log In</button>
                </div>
            </form>
        </div>
        <div class="nextpage input_left forget_set">
            <a [routerLink]="['/signup']">Register</a>
            <a [routerLink]="['/forget-password']">/&nbsp;Forget Password</a>
        </div>
    </div>
</div>  


<app-makepayment  *ngIf="showPaymentModal"  (output)="popupEvent($event)">  </app-makepayment>