

<div class="modal" id="paymentModal" aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Make Payment</h5>
                <button type="button" class="close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row" style="margin-top: 10px">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Subscription</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <select class="form-control form-control-sm" class="col-md-12" [(ngModel)]="subscriptionId" (ngModelChange)="getAmount()">

                                        <option *ngFor="let s of subcribe" [value]="s.subscriptionId">{{s.validity}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-12">
                                    <div class="form-group" style="margin-top: 5px;">
                                        <label for="usr">Amount </label>
                                        <p> &#8377;&nbsp; {{amount}} </p>
                                    </div>

                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <label>Payment Mode</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <select class="form-control form-control-sm" class="col-md-12" [(ngModel)]="paymentMode">
                                        <option value="Online">Online Payment</option>
                                        <option value="Cash">Cash</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" (click)="onMakePaymentClick()" class="btn btn-primary"> Make Payment</button>
                <button type="button" (click)="close()" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
