<div class="container">
  <div class="row">
    <div class="col-md-12"></div>
  </div>
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
      <div class="card mb-3  table-size">
        <div class="card-header">Packages
          <button class="btn btn-primary" style="font-size: 13px;float: right;" (click)="onAdd()">
            Add Packages </button>
        </div>
        <div class="card-body table-responsive">
          <table class="table">
            <thead class="thead-inverse">
              <tr>
                <th>S.no</th>
                <th>Package Name</th>
                <th>Category</th>
                <th>Package Amount</th>
                <th>Validity</th>
                <!-- <th>Stats</th> -->
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of package;let i =index">
                <td scope="row">{{i+1}}</td>
                <td>{{p.name}}</td>
                <td>{{p.category?.categoryName}}</td>
                <td>&#8377;&nbsp;{{p.amount}}</td>
                <td>{{p.subscriptions?.validity}}</td>
                <td>
                  <button class="btn btn-info btn-sm" style="margin-right: 5px; font-size: 12px;" (click)="onEditCategory(p)">
                    <span class="fa fa-edit"></span> Edit</button>
                  <button class="btn btn-danger btn-sm" style="font-size: 12px; margin-left: 5px;" (click)="onDeletePackage(p)">
                    <span class="fa fa-remove"></span> Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<app-packagesmodel *ngIf="popup" [package]="packageData" [category]="categoriesdata" [subcribe]="subcribe" (onUpdate)="onUpdate($event)"></app-packagesmodel>
<!-- <app-deletedpopup *ngIf="popup2" (onDeletePackage)="onDeletePackage($event)"></app-deletedpopup> -->