<div class="container">
  <div class="row">
    <div class="col-md-12"></div>
  </div>
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
      <div class="card mb-3  table-size">
        <div class="card-header">Notifications
          <button class="btn btn-primary" style="font-size: 13px;float: right;" (click)="onAdd()">Add</button>
        </div>
        <div class="card-body table-responsive">
          <table class="table">
            <thead class="thead-inverse">
              <tr>
                <th>S.no</th>
                <th>Title</th>
                <th>Message</th>
                <th>Image</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th></th>
                <td>
                  <img>
                </td>
                <td></td>
               
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<app-addnotificationmodel *ngIf="popup"  (onUpdate)="onUpdate($event)"></app-addnotificationmodel>