<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="header">
      <div class="close-btn">
        <span class="close" (click)="closePopup()">&times;</span>
      </div>
    </div>
    <div class="boxed">
      <form>
        <div class="middle-tab">
          <div class="title">
            <h5>Edit Profile
              <hr style="width: 100px;">

            </h5>


          </div>

          <div class="tab-adjust1">
            <div class="box-1">

              <label class="label-margin">Firstname
                <span style="color:red;">*</span>
              </label>


              <input type="text" ngModel #firstName="ngModel" name="firstname" required id="firstname" [(ngModel)]="currentVendor.firstName">
              <div class="alert-box" *ngIf="firstName.touched && !firstName.valid">
                <span>Firstname is required</span>
              </div>
            </div>
            <div class="box-2">

              <label class="label-margin">Lastname
                <span style="color:red;">*</span>
              </label>


              <input type="text" ngModel #lastname="ngModel" name="lastname" required id="lastname" [(ngModel)]="currentVendor.lastName">
              <div class="alert-box" *ngIf="lastname.touched && !lastname.valid">
                <span>Lastname is required</span>
              </div>
            </div>
          </div>
          <div class="tab-adjust1">
            <div class="box-1">

              <label class="label-margin">Businessname
                <span style="color:red;">*</span>
              </label>


              <input type="text" ngModel #businessname="ngModel" required id="businessName" [(ngModel)]="currentVendor.businessName" name="businessName">
              <div class="alert-box" *ngIf="businessname.touched && !businessname.valid">
                <span>Businessname is required</span>
              </div>
            </div>
            <div class="box-2">
              <label class="label-margin">Website</label>
              <input type="text" [(ngModel)]="currentVendor.websiteUrl" name="websiteUrl">

            </div>

          </div>

          <div class="text-area1">
            <label class="label-margin">TagLine</label>
            <textarea rows="2" cols="20" [(ngModel)]="currentVendor.tagline" name="tagline"></textarea>
          </div>
          <div class="text-area1">
            <label class="label-margin">Address
              <span style="color:red;">*</span>
            </label>
            <textarea rows="2" cols="20" ngModel #address1="ngModel" name="address1" required id="address1"
             [(ngModel)]="currentVendor.address"
              name="address"></textarea>
            <div class="alert-box" *ngIf="address1.touched && !address1.valid">
              <span>Address is required</span>
            </div>
          </div>
          <div class="tab-adjust1">
            <div class="box-1">
              <label class="label-margin">Contact no
                <span style="color:red;">*</span>
              </label>


              <input type="number" #contactNumber="ngModel" ngModel #contactNummber="ngModel" required name="contactNumber" id="contactNumber"
                [(ngModel)]="currentVendor.contactNumber" pattern="[0-9\s]{10,10}">
              <div class="alert-box" *ngIf="contactNumber.touched && !contactNumber.valid">
                Contact is required
              </div>

            </div>
            <div class="box-2">
              <label class="label-margin">Alternate contact no</label>

              <input type="number" #alternateContact="ngModel" name="alternateContact" id="alternateContact" [(ngModel)]="currentVendor.alternateContact"
                pattern="[0-9\s]{10,10}">
              <div class="alert-box" *ngIf="alternateContact.invalid && (alternateContact.touched || alternateContact.dirty )">
                <div *ngIf="alternateContact">Number can'tgreater than 10.</div>
              </div>
            </div>

          </div>
          <div class="save-btn">
            <button (click)="onProfileUpdate()">Save</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>