<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="header">
      <div class="close-btn">
        <span class="close" (click)="closePopup()">&times;</span>
      </div>
      <div class="container" style="margin-top: 40px;">
        <form #addCompany="ngForm">
          <div class="row">
            <div class="col-md-12">

              <h4>Packages&nbsp;
                <hr>
              </h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label>Packages Name</label>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <input type="text" autocomplete="off" style="width: 100%; border-radius: 4px;border: 1px solid #80808085" ngModel #firstName="ngModel"
                name="firstname" required id="firstname" [(ngModel)]="packageData.name">
              <div class="alert alert-danger" *ngIf="firstName.dirty && firstName.invalid">
                <span style="font-size: 12px;">
                  <strong>package name is required </strong>
                </span>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col-md-12">
              <label>Packages Amount</label>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <input type="number" name="amount" ngModel #amount="ngModel" name="amount" required id="amount" style="border: 1px solid #80808085;border-radius: 4px;width: 100%"
                [(ngModel)]="packageData.amount">
              <div class="alert alert-danger" *ngIf="amount.dirty && amount.invalid">
                <span style="font-size: 12px;">
                  <strong>Package amount is required </strong>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label>Subscription</label>
            </div>
            <div class="col-md-12">

              <select [(ngModel)]="packageData.subscriptionId" name="subscriptionId" style="width: 100%; margin-top: 10px; height:40px;border: 1px solid #80808085;border-radius: 4px;">
                <option hidden>Category</option>
                <option *ngFor="let s of subcribe" [value]="s.subscriptionId">
                  {{s.validity}}
                </option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label>Category</label>
            </div>
            <div class="col-md-12">


              <select [(ngModel)]="packageData.categoryId" name="category" style="width: 100%; margin-top: 10px;
                height:40px;border: 1px solid #80808085;border-radius: 4px;">
                <option hidden>Category</option>
                <option *ngFor="let c of category" [value]="c.categoryId">
                  {{c.categoryName}}
                </option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
              <button class="btn btn-primary" [disabled]="!addCompany.form.valid" style="float: right; margin-top: 10px; width: 100px"
                (click)="onSave()">Save</button>

            </div>
          </div>
        </form>


      </div>



    </div>
  </div>
</div>