<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="header">
            <div class="close-btn">
                <span class="close" (click)="closePopup()">&times;</span>
            </div>
            <div class="container" style="margin-top: 40px;">
                <form #onsumit="ngForm">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>{{headName}}&nbsp;Category
                                <hr>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>CategoryName
                                <span>*</span>
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" required ngModel #firstName="ngModel" name="firstname" required id="firstname" style="width: 100%; border-radius: 4px;border: 1px solid #80808085"
                                [(ngModel)]="categorydata.categoryName">
                            <div class="alert alert-danger" *ngIf="firstName.dirty && firstName.invalid">
                                <span style="font-size: 12px;">
                                    <strong>Category name is Required </strong>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Uplode Image</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="file" (change)="detectFiles($event)" style="border: 1px solid #80808085;border-radius: 4px;width: 100%">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <p *ngIf="isUpload">uploading...</p>
                        </div>
                        <div class="col-md-7" *ngIf="!isUpload">
                            <button class="btn btn-primary" [disabled]="!onsumit.form.valid" style="float: right; margin-top: 10px; width: 100px"
                                (click)="onSave()">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>