.grid1{

width: 21%;
height: 207px;
background-color: #fff;
margin: 1% 1% 2% 2%;
position: relative;
float: left;
box-shadow: 5px 3px 20px 0 rgba(0,0,0,.1);
}


.iconWrap {
    width: 45%;
    float: right;
    color: #fff;
    position: absolute;
    top: 11px;
    right: 15px;
}
.grid1 i {
    z-index: 999;
    width: 22px;
    float: right;
    border-radius: 21px;
    padding-top: 4px;
    padding-right: 1px;
    background-color: #13100e70;
    height: 22px;
    text-align: center;
    cursor: pointer;
    margin-right: 6px;
    font-size: 13px;
    margin-top: 4px;
}